<form action = '/game' method = 'post'>  
  <h5><%= "Hello #{session[:username]}, please place your bet." %></h5>
  <br>
  <h5><%= "You currently have $#{session[:money]}." %></h5>
  <br>
  <input type = 'text' name = 'bet'/>
  <input type = 'submit' class = 'btn' value='Place Bet'/>
</form>